.product {
    height: 935px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box {
    width: 1200px;
    height: 598px;
    display: flex;
}

.photo-background {
    width: 485px;
    height: 450px;
    border-radius: 18.112px;
    background: rgba(1, 153, 109, 0.20);
    margin-left: 41px;
    display: flex;
    justify-content: center;
    position: relative;
}

.custom-content {
    position: absolute;
    top: 302px;
    left: -41px;
    width: 298px;
    height: 294px;
    border-radius: 3.73px;
    background: #FFF;
    filter: drop-shadow(0px 3.62249493598938px 18.11247444152832px rgba(165, 165, 165, 0.25));
}

.custom-content-title {
    margin-top: 23px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 14.49px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%;
}

.custom-content-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 110.434px;
    height: 0.746px;
    background: #000;
    margin-top: 8px;
}

.custom-content-photo {
    width: 58px;
    height: 58px;
    background-color: rgba(1, 153, 109, 0.20);
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 29px;
}

.product-box-text {
    margin-left: 90px;
    width: 584px;
}

.product-little-title {
    color: #424242;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%;
    margin-top: 18px;
}

.product-main-title {
    color: #01996D;
    font-family: Georgia;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%;
    margin-top: 10px;
}

.product-text-description {
    color: #484848;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 157%; 
    margin-top: 20px;
}

.product-button {
    width: 227px;
    height: 65px;
    background-color: #01996D;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    border-radius: 4px;
    border: 1px solid #01996D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
*,
*::before,
*::after {
  margin: 0 auto;
  box-sizing: border-box;
}

.first-block {
  display: flex;
  height: 800px;
  background-color: #245852;
}

.first-block-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headline-container {
  width: 580px;
  height: 229px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headline-container h1 {
  color: #fff;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
}

.headline-container span {
  display: flex;
}

.headline-container p {
  color: #fff;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
}

.headline-container button {
  background: #01996d;
  border-radius: 4px;
  border: 1px solid #01996d;
  width: 240px;
}

.started-div {
  display: flex;
}

.started-button p {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.block-video {
  width: 600px;
  height: 364px;
  border-radius: 30px;
}
